*{
  margin: 0;
  padding: 0;
  /* background-color: aqua; */
}

.Text{
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: aqua; */
  color: black;
}
/* .Text1{} */
.re{
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  
  
}
.res{
  display: flex;
  justify-content: space-between;
  width: 80vw;
}
@media screen and (max-width:600){
  .res{
    width: 100vw;
  }
}